---
---

@import "{{ site.theme }}";

@font-face {
    //font-family: 'KoPubDotumMedium';
    // this was done in order to override the default font 
    font-family: 'Helvetica Neue';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



header h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 30px; font-weight: 900;
  line-height: 1.2;
  color: #303030;
  letter-spacing: -1px;
}
